.carousel__item {
}

.carousel__slide {
	padding: 10px;
}

.carousel__prev {
	left: 10px;
}

.carousel__next {
	right: 10px;
}

.carousel__prev,
.carousel__next {
	@apply bg-gray-300 text-black border-solid border-2;
}

.carousel__prev:hover,
.carousel__next:hover {
	@apply bg-white shadow-lg;
}
